// Éditer les variables du thème pour configurer votre site web
// Variables disponibles : https://github.com/osunyorg/theme/blob/main/assets/sass/_theme/_configuration.sass
// Documentation sur : https://developers.osuny.org/docs/theme/theme-aaa/

// MAIN COLORS
$color-accent: #F25138
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #FFFFFF
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$grid-gutter-lg: pxToRem(24)
$grid-gutter-xxl: pxToRem(24)
$grid-max-width: pxToRem(1980)

$header-sticky-enabled: false
$header-border-bottom-width: false

$hero-color: var(--color-text)
$hero-background-color: var(--color-background-alt)
$hero-credit-color: var(--color-text-alt)

$footer-color: white
$footer-background-color: var(--color-background-alt)
$footer-icons-enabled: true
$footer-icons-size: pxToRem(32)
$footer-text-hidden: false


$block-call-to-action-background: var(--color-background)
$block-call-to-action-color: var(--color-accent)