@mixin pill
    border: 1px solid $color-accent
    border-radius: $spacing-4
    display: inline-block
    font-weight: normal
    padding: $spacing-1 $spacing-4 $spacing-2
    user-select: none
    transition: color 0.25s ease
    &:hover
        background: linear-gradient(313deg, #ff5017 0%, #ff4ac3 100%)
        color: $color-background
        border-color: $color-background

h1,
h2,
h3
    letter-spacing: 0.02rem
i
    a
        &[target="_blank"]
            text-decoration: none
.organization 
    .media
        background: none
        border: 1px solid #EEEEEE
        border-radius: $spacing-1
        img
            padding: $spacing-3

header#document-header
    .logo
        background: linear-gradient(313deg, #ff5017 0%, #ff4ac3 100%)
        color: white
        @include pill

.page__home
    .hero
        .content
            padding-left: offset(3)
            flex-direction: column
            .hero-text
                h1
                    margin-bottom: $spacing-4
            figure
                width: columns(4)
                img
                    border: 1px solid $color-purple
.hero
    figure
        picture
            img
                border-radius: $spacing-1
.blocks
    .block-image
        .image-portrait
            img
                max-height: none
    @include full-page
        .heading
            h2
                padding-left: offset(3)
                width: columns(10)

        .block
            &-chapter
                padding-left: offset(3)
                .chapter
                    width: columns(6)
                    display: flex
                    flex-direction: column
                    figure
                        margin-top: $spacing-4
                        img
                            border: 1px solid $color-purple
                            border-radius: $spacing-1
            &-projects
                &--large
                    .projects 
                        padding-left: offset(3)
                        .project
                            .media
                                width: columns(4)
                                border: 1px solid $color-purple
                                border-radius: $spacing-1
            &-posts
                .media
                    border-radius: $spacing-1

footer#document-footer
    background: transparent
    background: linear-gradient(-313deg, #ff5017 -10%, #ff4ac3 110%)
    text-align: center
    .logo
        @include pill
        margin-top: $spacing-7
        border-color: $color-background
        &:hover
            background: $color-green-3
            color: $color-text
            border-color: $color-green-3
    .container
        justify-content: center
    .container + .container
        margin-top: $spacing-7
    .nav-legal
        display: inline-block
        &::after
            content: " — "
            margin-left: $spacing-2
            margin-right: $spacing-2
        li
            display: inline-block
            a
                padding-left: $spacing-2
    .footer-legals,
    .footer-credit
        display: inline-block
